@import "tailwindcss";

@theme {
  --color-soft-bg: #F0F5FA;
  --color-soft-shadow-dark: #D1D9E6;
  --color-soft-shadow-light: #FFFFFF;
  
  --shadow-neumorphism: 8px 8px 16px #D1D9E6, -8px -8px 16px #FFFFFF;
  --shadow-neumorphism-inset: inset 8px 8px 16px #D1D9E6, inset -8px -8px 16px #FFFFFF;
}